/* body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
} */
/* #ghab {
    background-color: #5a5c68;
    border: 3px solid black;
    box-shadow: 7px 10px #888888;
} */
#lcd {
    width: 98%;
    height: 80px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 40px;

    box-shadow: 2px 5px #888888;
    background-color: #c1d798;
}

#keypad {
    width: 98%;
    height: calc(95% - 80px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    border-radius: 10px;
}

.key {
    height: 60px;
    width: 70px;
    font-size: 30px;
    margin: 5px;
    border-radius: 10px;

    background-color: #bcc0c7;
    box-shadow: 2px 5px black;
    color: white;
}
.key:not(:disabled):hover {
    height: 50px;
    width: 60px;

    background-color: chocolate;
    margin: 10px;
}
.key:disabled {
    background-color: #5a5c68;
}

.num {
    height: 60px;
    width: 70px;
    font-size: 40px;
    margin: 5px;
    border-radius: 10px;

    background-color: #35373f;
    box-shadow: 2px 5px black;
    color: white;
}
.num:hover {
    height: 50px;
    width: 60px;

    background-color: #23a1d1;
    margin: 10px;
}
