* {
    transition: all 300ms ease-in;
    border-radius: 7px;
    /* font-size: 30px;
    font-family: fonti;
    font-weight: 800; */
}
@font-face {
    font-family: fonti;
    src: url(fonts/Fish_and_Chips_2.0-Regular.woff2);
}
html {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body {
    margin: 0;
    padding: 0;
}

#container {
    width: 30%;
    height: 350px;
    margin: 100px auto 0px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 5px solid black;
    box-shadow: 7px 7px rgba(255, 255, 255, 0.8), 9px 9px black;
    text-align: center;
    overflow: hidden;

    font-size: 30px;
    font-family: fonti;
    font-weight: 800;
}
h1 {
    font-size: 50px;
    color: green;
    margin: 0px auto;
}
input {
    width: 250px;
    height: 25px;
    margin: 10px 20px;
    padding: 5px;

    font-size: 30px;
    font-family: fonti;
    font-weight: 800;
}
input#captcha {
    width: 200px;
}
label {
    margin: 20px;
}

button#secure {
    width: 170px;
    height: 60px;
    margin: 10px auto 10px;
    background-color: gray;
    box-shadow: 5px 5px black;

    font-size: 30px;
    font-family: fonti;
    font-weight: 800;
}
button#secure:enabled:hover {
    width: 180px;
    height: 60px;
    background-color: aqua;
}
a {
    text-decoration: none;
}
