* {
    transition: all 300ms ease-in;
}
@font-face {
    font-family: fonti;
    src: url(fonts/An\ Bold.ttf);
}
@font-face {
    font-family: watchi;
    src: url(fonts/Orbitron/Orbitron-Medium.ttf);
}
html {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 70px;
    font-family: fonti;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0px;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background-color: #f7eee7;
}
img#icon_site {
    height: 90%;
    border-radius: 8px;
    float: left;
    padding-left: 50px;
}
img#icon_site:hover {
    height: 95%;
    cursor: pointer;
    padding-left: 46px;
}
div#menu {
    box-sizing: border-box;
    height: 100%;
    float: right;
    padding-inline: 20px;
    padding-top: 18px;
    color: black;
}
div#menu img {
    height: 90%;
    border-radius: 8px;
    float: right;
}
div#menu img#menu_site2 {
    display: none;
}
div#menu:hover img#menu_site2 {
    display: block;
}
div#menu:hover img#menu_site {
    display: none;
}
div#menu_container {
    /* width: 70px; */
    /* display: none; */
    height: 0px;
    position: absolute;
    margin-top: 80px;
    overflow: hidden;
    border-radius: 10px;
    font-size: 45px;
    background-color: rgb(51, 189, 237);
}
div#menu:hover > div#menu_container {
    /* display: block; */
    height: 377px;
    border: 2px solid black;
    padding: 20px;
}
div#menu_container div {
    padding-inline: 20px;
    background-color: rgb(51, 189, 237);
    color: black;
    border-radius: 10px;
    /* margin-inline: 10px; */
}
div#menu_container div:hover {
    background-color: black;
    color: white;
}
div.items {
    box-sizing: border-box;
    height: 100%;
    float: right;
    padding-inline: 20px;
    padding-top: 18px;
    font-size: 50px;
    color: black;
    transition: background-color 1s ease-out 50ms;
    border-radius: 30px;
}
div.items:hover {
    color: #f7eee7;
    background-color: black;
    /* cursor: pointer; */
}
div#banner {
    width: 100%;
    height: 500px;
    margin-top: 150px;
}
div#banner img {
    height: 90%;
    display: block;
    box-sizing: border-box;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: none;
    transition: box-shadow 1s ease-out 100ms, filter 1s ease-out 100ms;
}
div#banner img:hover {
    filter: contrast(1.5);
    box-shadow: 7px -7px #e36437, 14px -14px #4a99d1, 21px -21px #28769c,
        7px 7px #e36437, 14px 14px #4a99d1, 21px 21px #28769c, -7px 7px #e36437,
        -14px 14px #4a99d1, -21px 21px #28769c, -7px -7px #e36437,
        -14px -14px #4a99d1, -21px -21px #28769c;
}
.news {
    width: calc(100% - 160px);
    height: 450px;
    background-color: white;
    margin: 150px 80px;
    border-radius: 20px;
    overflow: hidden;

    color: white;
}
.news > div:first-child {
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    padding-right: 500px;
    background-color: #429ddd;
}
.slider {
    width: 100%;
    height: 80%;
    display: flex;
}
div#prev {
    width: 5%;
    height: 100%;
}
.slides {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides div {
    width: 200px;
    height: 280px;
    margin: auto;
    background-size: contain;
    transition: background-image 1s ease-in, translate 300ms ease-in;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.slides div:hover {
    translate: 0 -20px;
}
.btn {
    cursor: pointer;
    position: relative;
    background: white;
    font-size: 28px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s;
    &:after,
    &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
    }
    &:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid #1f759f;
        border-left: 5px solid #1f759f;
    }
    &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid #1f759f;
        border-right: 5px solid #1f759f;
    }
    &:hover {
        border-top-right-radius: 0px;
        &:before,
        &:after {
            width: 102%;
            height: 102%;
        }
    }
}
div#next {
    width: 5%;
    height: 100%;
}
div#next img,
div#prev img {
    width: 100%;
    margin-top: 120px;
    filter: contrast(0.3);
    transition: filter 0.1s ease-in;
}
div#prev img:hover {
    filter: contrast(1);
    cursor: pointer;
    width: 95%;
}
div#next img:hover {
    filter: contrast(1);
    cursor: pointer;
    width: 95%;
}
div#off_text {
    background-color: #28769c;
    padding-right: 450px;
}
img#off_img {
    width: 20%;
    height: 80%;
    object-fit: cover;
    margin: 30px 40px 0px;
    border-radius: 20%;
    border: 5px solid gray;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* transition: all 300ms ease-in; */
}
img#off_img:hover {
    background-color: yellow;
    translate: 0px -10px;
    width: calc(20% + 40px);
    margin: 25px 20px;
}
div#mood_text {
    background-color: #f3612d;
    padding-right: 500px;
}
#calculator {
    float: left;
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
}
div#ghab {
    /* display: none; */
    position: absolute;
    width: 340px;
    /* height: 490px; */
    height: 0px;
    margin-top: 95px;
    z-index: -1;

    border-radius: 5%;
    justify-content: center;
    padding: 10px;

    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-style: normal;

    overflow: hidden;

    /* background-color: #5a5c68;
    border: 3px solid black;
    box-shadow: 7px 10px #888888; */
}
#calculator:hover > div#ghab {
    display: block;
    height: 490px;

    background-color: #5a5c68;
    border: 3px solid black;
    box-shadow: 7px 10px #888888;
}
footer {
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(7, 6, 96, 1) 35%,
        rgba(0, 202, 255, 1) 100%
    );
    box-sizing: border-box;
    padding-top: 30px;
    line-height: 70px;
    color: white;
    text-align: center;
    overflow: hidden;

    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 310px;
}
footer:hover {
    background: rgb(0, 202, 255);
    background: linear-gradient(
        90deg,
        rgba(0, 202, 255, 1) 0%,
        rgba(7, 6, 96, 1) 65%,
        rgba(0, 0, 0, 1) 100%
    );
    cursor: cell;
}
.f1 {
    float: left;
    width: 500px;
    height: 200px;
    margin-left: 50px;
}
#tablighat {
    display: block;
    height: 120px;
    width: 1250px;
    float: left;
    background-color: gray;
    border-radius: 20px;
    margin-left: 135px;
    margin-bottom: 50px;
}

#watch {
    box-sizing: border-box;
    height: 100%;
    width: 222px;
    float: right;
    /* padding-right: 20px; */
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    border-radius: 30px;

    color: #f3612d;
    font-family: "watchi", sans-serif;
    font-size: 40px;
    font-weight: bold;
    /* user-select: none; */
}

.hov:hover {
    cursor: pointer;
}
