body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2fa6fa;
}
.progress {
    position: relative;
    height: 20px;
    width: 500px;
    border: 10px solid #ff5814;
    border-radius: 15px;
}
.progress .color {
    position: absolute;
    left: -3px;
    background-color: white;
    width: 0px;
    height: 20px;
    border-radius: 15px;
    animation: progres 6s infinite linear;
}
@keyframes progres {
    0% {
        width: 0%;
    }
    10% {
        width: 0%;
    }
    20% {
        width: 15%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 45%;
    }
    50% {
        width: 55%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 85%;
    }
    80% {
        width: 95%;
    }
    90% {
        width: 100%;
    }
    100% {
        width: 102%;
    }
}
@font-face {
    font-family: fonti;
    src: url(fonts/Fish_and_Chips_2.0-Regular.woff2);
}
#text {
    color: black;
    position: absolute;
    top: -90px;
    left: 10px;
    width: 500px;
    font-size: 50px;
    font-family: fonti;
}
