#lcd {
    width: 97%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 14px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #bac199;
    box-shadow: 2px 5px #13171e;
}
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8 {
    width: 100%;
    height: 43px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.b5 {
    background-color: #9ea5af;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b7,
.b8 {
    width: 20%;
    height: 45px;
    background-color: #83839c;
    border-radius: 10px;
    display: inline-block;
    margin-left: 7px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 5px #13171e;
}
.b5:hover {
    background-color: #d20766;
}
.b6:hover {
    background-color: #d20766;
}
.b7:hover {
    background-color: #d20766;
}
.b8:hover {
    background-color: #d20766;
}

.b5,
.b6,
.b7,
.b8 {
    background-color: #9ea5af;
}
