body {
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%;
    font-family: "vazir";
    background: url(./photo/zahra1.png) 0 40% / cover no-repeat;
}
input {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cantenar {
    width: 360px;
    height: 530px;
    margin: 30px auto;
    padding: 18px 60px;
    border: 1px solid rgba(223, 230, 233, 0.7);
    border-radius: 30px;
    background-color: rgba(223, 230, 233, 0.7);
    overflow: hidden;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
    text-decoration: none;
}
.form {
    margin-top: 1.5rem;
}

.form label {
    font-weight: bold;
}
.form label,
.form input {
    display: block;
    margin-bottom: 0.6rem;
}

.form input.form-contorol {
    width: 100%;
    font-family: inherit;
    padding: 0.6rem 0.6rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.form input.form-contorol::placeholder {
    font-size: 1rem;
}
.coly {
    /* background-color: #00a6fb; */
    width: 40%;
    height: 130px;
    display: block;
}
.f1 {
    /* background-color: aqua; */
    width: 100%;
    height: 75px;
    display: flex;
}
.f1 #user-input {
    /* background-color: red; */
    width: 40%;
    margin-right: 0px;
    margin-top: 10px;
    padding: 0px;
    padding-bottom: 0px;
    height: 30px;
}
#image {
    /* background-color: pink; */
    background: url(./photo/images.jpg);
    width: 30px;
    height: 37px;
    padding: 20px;
    padding-left: 40px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-right: 200px;
    margin-top: 5px;
    user-select: none;
    text-decoration: line-through;
    font-style: italic;
    font-size: x-large;
    color: black;
}
.f2 {
    /* background-color: green; */
    width: 100%;
    height: 60px;
    display: inline-block;
    position: relative;
}
#bttn {
    /* background-color: black; */
    width: 100%;
    height: 50px;
    display: inline-block;
    color: #ef476f;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 18px;
}
#key {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 52px;
    /* background-color: red; */
    margin-right: 200px;
    color: #ef476f;
    width: 80%;
    height: 30px;
    font-weight: bold;
}
#taeed:not(:disabled) {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #00a6fb;
    border: 1px solid #00a6fb;
}
.btn {
    display: block;
    border: none;
    padding: 0.4rem 1rem;
    font-family: inherit;
    border-radius: 10px;
    margin: 1.1rem 0rem;
}
.btn-danger {
    font-weight: bold;
    width: 100%;
}
.btn-danger:not(:disabled):hover {
    background: #048ece;
}
.btn-success {
    font-weight: bold;
    font-size: 0.8rem;
    width: 100%;
    background-color: #adb5bd;
    color: white;
    border: 1px solid #adb5bd;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-success:hover {
    background-color: #6c757d;
}

#submit {
    /* background-color: red; */
    width: 150px;
    height: 30px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
