body {
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%;
    font-family: "vazir";
    background: url(./photo/zahra1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 40%;
}

.cantenar {
    width: 400px;
    height: 500px;
    margin: 30px auto;
    padding: 18px 60px;
    border: 1px solid rgba(223, 230, 233, 0.7);
    border-radius: 20px;
    background-color: rgba(223, 230, 233, 0.7);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    text-decoration: none;
    margin-right: 100px;
}

.btn.btn-danger a {
    text-decoration: none;
    margin: 0px;
}
.form {
    margin-top: 2rem;
}
.form .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
    margin-bottom: 1rem;
}
.form label {
    font-weight: bold;
}
.form label,
.form input:not([type="checkbox"]) {
    display: block;
    margin-bottom: 0.6rem;
}

.form input:focus {
    background-color: rgba(0, 206, 201, 0.3);
    outline: none;
    border: 1px solid rgba(0, 206, 201, 0.9) !important;
}
/* .form input.invalid, */
.form input:invalid {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa !important;
}
.form input.form-contorol {
    width: 100%;
    font-family: inherit;
    padding: 0.6rem 0.6rem;
    border-radius: 4%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.form input.form-contorol::placeholder {
    font-size: 1rem;
}
/* .form input.form-contorol:invalid {
    background-color: #fcb9b9;
    border: 1px solid #ff5555 !important;
} */
.checkbox {
    position: relative;

    padding-top: 0.4rem;
}
.btn {
    display: block;
    border: none;
    padding: 0.4rem 1rem;
    font-family: inherit;
    border-radius: 4%;
    margin: 1.1rem 0rem;
}
.btn-danger {
    font-weight: bold;
    width: 50%;
    background: #0096c7;
    color: white;
    border: 1px solid #0096c7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: transform 700ms;
}
.btn-success {
    font-weight: bold;
    font-size: 0.8rem;
    width: 50%;
    background-color: #e74c3c;
    color: white;
    border: 1px solid #e74c3c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: transform 700ms;
}
.btn-success:hover {
    transform: translateY(-5px);
    background-color: #e71819;
}
.btn-danger:hover {
    transform: translateY(-5px);
    background-color: #0077b6;
}

.end {
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-weight: bold;
    margin-top: 1rem;
}
