* {
    border-radius: 1rem;
}
html {
    font-size: 20px;
    padding: 1rem;
    font-family: "Delius", sans-serif;
}
.container {
    background-color: #6a9c89;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 5rem;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}

header {
    background-color: #c1d8c3;
    grid-area: 1 / span 12;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #fff5e4;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

div.icon {
    background-color: #ffa725;
    width: 3.5rem;
    height: 3.5rem;
}

main {
    background-color: #c1d8c3;
    grid-area: span 4 / span 9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 5rem;
    padding: 1rem;
    gap: 1rem;
}
main div.mainitems {
    background-color: #fff5e4;
    text-align: center;
    align-content: center;
}
aside {
    background-color: #c1d8c3;
    grid-area: span 4 / span 3;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem;
}

section {
    background-color: #ffa725;
    grid-area: span 1 / span 7;
    padding: 1rem;
    text-align: center;
    align-content: center;
}
article {
    background-color: #ffa725;
    grid-area: span 1 / span 5;
    padding: 1rem;
    text-align: center;
    align-content: center;
}
footer {
    background-color: #fff5e4;
    grid-area: span 1 / span 12;
    padding: 1rem;
    text-align: center;
    align-content: center;
}

/* 
    very large : max-width : 1200px
    large : max-width : 1024px
    medium : max-width : 768px
    small : max-width : 480px
    very small : max-width : 320px
*/

@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    main {
        grid-area: span 5 / span 9;
    }
    aside {
        grid-area: span 5 / span 3;
    }
}

@media (max-width: 768px) {
    main {
        grid-area: span 4 / span 12;
    }
    aside {
        grid-area: span 2 / span 12;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
        padding: 0.5rem;
    }
    section {
        grid-area: span 1 / span 12;
    }
    article {
        grid-area: span 1 / span 12;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 10px;
    }
    aside {
        grid-area: span 2 / span 12;
        padding: 0.5rem 1rem;
    }
}
