body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
* {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

#header {
    width: 350px;
    height: 600px;
    /* background-color: #5a5c68; */
    /* border: 3px solid black; */
    /* box-shadow: 7px 10px #888888; */
    border-radius: 5%;
    margin: 30px auto 0px;
    justify-content: center;
    padding: 10px;
    display: block;
}
#lcd {
    width: 98%;
    height: 80px;
    border-radius: 15px;
    margin-bottom: 20px;
    /* box-shadow: 2px 5px #888888; */
    /* background-color: #c1d798; */
    font-size: 50px;
}

#keypad {
    width: 98%;
    height: calc(95% - 80px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    border-radius: 10px;
}

.key {
    height: 75px;
    width: 70px;
    font-size: 50px;
    margin: auto;
    border-radius: 10px;
    /* background-color: #bcc0c7; */
    /* box-shadow: 2px 5px black; */
    /* color: white; */
}
.key:not(:disabled):hover {
    /* background-color: chocolate; */
    height: 65px;
    width: 60px;
    font-size: 40px;
}
/* .key:disabled {
    background-color: #5a5c68;
} */

.num {
    height: 75px;
    width: 70px;
    font-size: 50px;
    margin: auto;
    border-radius: 10px;
    /* background-color: #35373f; */
    /* box-shadow: 2px 5px black; */
    /* color: white; */
}
.num:hover {
    /* background-color: #23a1d1; */
    height: 65px;
    width: 60px;
    font-size: 40px;
}

.colors {
    border: 2px solid black;
    height: 50px;
    width: 80px;
    text-align: center;
    float: right;
    margin-right: 50px;
    border-radius: 15px;
}
.colors:hover {
    background-color: #23a1d1;
}

/* ----------------  different colors -------------------------- */

.color1 {
    background-color: #5a5c68;
    border: 3px solid black;
    box-shadow: 7px 10px #888888;
}
.color1 #lcd {
    box-shadow: 2px 5px #888888;
    background-color: #c1d798;
}
.color1 #keypad .key {
    background-color: #bcc0c7;
    box-shadow: 2px 5px black;
    color: white;
}
.color1 #keypad .key:not(:disabled):hover {
    background-color: chocolate;
}
.color1 #keypad .key:disabled {
    background-color: #5a5c68;
}
.color1 #keypad .num {
    background-color: #35373f;
    box-shadow: 2px 5px black;
    color: white;
}
.color1 #keypad .num:hover {
    background-color: #23a1d1;
}
