/*  eot - embedded-opentype
ttf - truetype
woff - woff
woff - woff2
*/
@font-face {
    font-family: "Vazir";
    src: url(./Vazir-Bold.eot);
    src: url(./Vazir-Bold.eot) format("embedded-opentype"),
        url(./Vazir-Bold.woff2) format("woff2"),
        url(./Vazir-Bold.woff) format("woff"),
        url(./Vazir-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Vazir";
    src: url(./Vazir.eot);
    src: url(./Vazir.eot) format("embedded-opentype"),
        url(./Vazir.woff2) format("woff2"),
        url(./Vazir.woff) format("woff"),
        url(./Vazir.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Vazir";
    src: url(./Vazir-Black.eot);
    src: url(./Vazir-Black.eot) format("embedded-opentype"),
        url(./Vazir-Black.woff2) format("woff2"),
        url(./Vazir-Black.woff) format("woff"),
        url(./Vazir-Black.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Vazir";
    src: url(./Vazir-Medium.eot);
    src: url(./Vazir-Medium.eot) format("embedded-opentype"),
        url(./Vazir-Medium.woff2) format("woff2"),
        url(./Vazir-Medium.woff) format("woff"),
        url(./Vazir-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Vazir";
    src: url(./fonts/Vazir-Light.eot);
    src: url(./fonts/Vazir-Light.eot) format("embedded-opentype"),
        url(./fonts/Vazir-Light.woff2) format("woff2"),
        url(./fonts/Vazir-Light.woff) format("woff"),
        url(./fonts/Vazir-Light.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Vazir";
    src: url(./fonts/Vazir-thin.eot);
    src: url(./fonts/Vazir-thin.eot) format("embedded-opentype"),
        url(./fonts/Vazir-thin.woff2) format("woff2"),
        url(./fonts/Vazir-thin.woff) format("woff"),
        url(./fonts/Vazir-thin.ttf) format("truetype");
    font-weight: 100;
}