html {
    cursor: url(img/cursor.ico), auto;
}
@font-face {
    font-family: nafas;
    src: url("../../Fonts_Fa/handwritten-fonts/Digi\ Nafas\ Medium.otf");
}
html {
    width: 100%;
    height: 100%;
    font-family: nafas;
}
header {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}
header #logo {
    float: right;
    padding: 0px 20px;
}
header p {
    float: left;
    padding: 5px 20px;
    margin: 10px 15px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}
header p:hover {
    cursor: pointer;
    background-color: black;
    color: #f2f2f2;
    /* cursor: url(img/cursor.png); */
}
img#bnr {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
#matn p {
    text-align: right;
    font-size: 30px;
    padding: 0px;
    margin: 10px 30px 0px;
}
#matn p:first-child {
    font-size: 50px;
    font-weight: bold;
}
#toor {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    height: 500px;
    margin-top: 0px;
}
#toor div {
    overflow: hidden;
    width: 23%;
}
#toor div img {
    height: 450px;
    opacity: 1;
    /* filter: blur(3px); */
}
#toor div img:hover {
    opacity: 0.3;
    /* filter: blur(0px); */
}
