html {
    font-size: 100%;
}

body {
    padding: 20rem;
}

.container {
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transform: rotate3d(1, 1, 1, 0deg);

    transition: all 2s ease;

    animation: runCube 3s ease-in 3 alternate;
}

.cube:hover {
    transform: rotateY(360deg);
}

@keyframes runCube {
    0% {
        transform: rotateY(0) scale(1);
    }

    50% {
        transform: rotateY(180deg) scale(1.2);
    }

    100% {
        transform: rotateY(220deg) scale(1.4);
    }
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.cube__face--Front {
    background-color: #16a08570;
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--Back {
    background-color: #3498db70;
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--Right {
    background-color: #9b59b670;
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--Left {
    background-color: #f39c1270;
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--Top {
    background-color: #e74c3c70;
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--Bottom {
    background-color: #95a5a670;
    transform: rotateX(-90deg) translateZ(100px);
}
